.component-display {
  height: 90px;
  width: 100%;
  padding: 10px 10px;
  background: rgba(154, 185, 188, 0.8);
  border-radius: 5px;
  margin-bottom: 10px;
  /* Typography */
  font-size: 30px;
  line-height: 90px;
  color: white;
  overflow: auto;
}

.message-display {
  height: 40px;
  width: 100%;
  padding: 10px 10px;
  background: rgba(154, 185, 188, 0.8);
  border-radius: 5px;
  margin-bottom: 10px;
  /* Typography */
  font-size: 30px;
  line-height: 90px;
  color: white;
  overflow: auto;
}

.component-display > div {
  text-align: right;
  font-size: 2.5rem;
  /* padding: 0.2rem 0.7rem 0.1rem 0.5rem; */
}
