@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Text styling */
  font: 400 46px "Quicksand", sans-serif;
  color: #fff;
  text-align: center;
}

/* BG gradient */
html {
  background: #229ad7;
  background-image: linear-gradient(
    to bottom,
    rgba(34, 156, 219, 1) 0%,
    rgba(10, 114, 187, 1) 100%
  );
  background-attachment: fixed;
}

#root {
  height: 100%;
}

@media (min-width: 400px) and (min-height: 400px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 40px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  html {
    font-size: 50px;
  }
}
